

   <!--   Footer   -->
	<footer class="myfooter">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<h4 class="title-widget">Programadores</h4>
          <p>Oscar Murillo Vega: oscar310394@gmail.com </p><br>
          <p>Josue Mora Boza: josuemora789@gmail.com </p>

				</div>
        <div class="col-sm-3">
					<h4 class="title-widget">Encargados</h4>
          <p>Carmen Apellido</p>
          <p>Email: carmenemail@example.com</p><br>
          <p>Nombre Apellido</p>
          <p>Email: nombreemail@example.com</p><br>

				</div>
			
				<div class="col-sm-3">
					<h4 class="title">Aplicacion</h4>
					<p>Creada para fines de aprendizaje</p>
					<ul class="payment">
						<li><a href="#"><i class="fa fa-cc-amex zoom" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-credit-card zoom" aria-hidden="true"></i></a></li>            
						<li><a href="#"><i class="fa fa-paypal zoom" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-cc-visa zoom" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
			<hr>
			
			<div class="row text-center"> © 2018. Entomologia Club</div>
		</div> <!-- ./container -->
    
    
    
    </footer>
    <div class="myfooter-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © Footer Entomologia. All right reserved. </p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                	<li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul> 
            </div>
        </div>
    </div>
    <!--/.footer-bottom--> 
    
    