<app-menu></app-menu>

<div class="parallax text-white text-center">
  <div class="container">
      <br>
      <br>
      <br>
      <h1 class="display-1 col-md-12 col-sm-12">Hexapoda</h1>
      <p class="lead">Alimenta la informacion</p>
  </div>
</div>
<br>

<div class="container  ">
  <form class="form-horizontal allin" role="form">
    <h2 class="text-center">Registrar un nuevo Hexapoda</h2> 
<br>
<br>
    <div class="form-group">
      <div class="col-sm-4">
          <select id="Select" class="form-control">
              <option>Isoptera</option>
              <option>Archaeognata</option>
              <option>Siphonaptera</option>
              <option>Phtiraptera</option>
              <option>Thysanura</option>
              <option>Hymenoptera</option>
              <option>Phasmatodea</option>
              <option>Psocopteros</option>
              <option>Hemiptera</option>
              <option>Mecoptera</option>
              <option>Thysonoptera</option>
              <option>Lepidoptera</option>
              <option>Diptera</option>
              <option>Coleoptera</option>
              <option>Ephemoptera</option>
              <option>Odonata</option>
              <option>Trichoptera</option>
              <option>Plecoptera</option>
              <option>Megaloptera</option>
              <option>Raphidioptera</option>
              <option>Neuroptera</option>
              <option>Dermaptera</option>
              <option>Orthoptera</option>
              <option>Blattodea</option>
              <option>Mantodea</option>
              <option>Zoraptera</option>
              <option>Strepsiptera</option>

          </select>
      </div>
  </div> <!-- /.form-group -->

      <div class="form-group">
          <label for="firstName" class="col-sm-3 control-label">Nombre Comun</label>
          <div class="col-sm-4">
              <input type="text" id="firstName"  class="form-control" autofocus>
             
          </div>
      </div>
<div class="form-group">
          <label for="lastName" class="col-sm-3 control-label">Nombre cientifico</label>
          <div class="col-sm-4">
              <input type="text" id="firstName"  class="form-control" autofocus>
             
          </div>
      </div>
<div class="form-group">
          <label for="ID Number" class="col-sm-3 control-label">habitos</label>
          <div class="col-sm-4">
              <input type="text" id="firstName"  class="form-control" autofocus>
             
          </div>
      </div>
     
      <div class="form-group">
          <label for="password" class="col-sm-3 control-label">habitad</label>
          <div class="col-sm-4">
              <input type="text" id="password"  class="form-control">
          </div>
      </div>
              <div class="form-group">
          <label for="Confirm Password" class="col-sm-3 control-label">Inpacto en Humanidad</label>
          <div class="col-sm-4">
              <input type="text" id="Confirm Password"  class="form-control">
          </div>
      </div>

      <div class="form-group">
        <label for="password" class="col-sm-3 control-label">Color</label>
        <div class="col-sm-4">
            <input type="text" id="password"  class="form-control">
        </div>
    </div>

    <div class="form-group">
      <label for="password" class="col-sm-3 control-label">Tamaño de cuerpo</label>
      <div class="col-sm-4">
          <input type="text" id="password"  class="form-control">
      </div>
  </div>
     
      
      <div class="form-group">
          <label class="control-label col-sm-3">Borrable</label>
          <div class="col-sm-6">
              <div class="row">
                  <div class="col-sm-6">
                      <label class="radio-inline">
                          <input type="radio" id="femaleRadio" value="Female">Si
                      </label>
      <label class="radio-inline">
                          <input type="radio" id="maleRadio" value="Male">No
                      </label>
                  </div>
                
                  </div>
                  
                      
                  
              </div>
          </div>
   
<div class="form-group">
          <label for="Address" class="col-sm-3 control-label">Descripcion</label>
          <div class="col-sm-4">
              <textarea class="form-control"></textarea>
          </div>
      </div>
      <div class="form-group">
          <div class="col-md-2 col-sm-offset-3">
              <button type="submit" class="btn btn-info">Aceptar</button>
          </div>
      </div>
  </form> <!-- /form -->
</div> <!-- ./container -->
<app-footer></app-footer>