<app-menu></app-menu>

<div class="parallax text-white text-center">
  <div class="container">
      <br>
      <br>
      <br>
      <h1 class="display-1 col-md-12 col-sm-12">Fechas Importantes</h1>
      <p class="lead">Consulta estas fechas</p>
     
  </div>
</div>

<div class=" col-md-4 col-sm-12 well pull-right-lg calendar" style="border:0px solid">
  <p class="well titulo" style="padding:10px; margin-bottom:2px;">
    <span class="glyphicon glyphicon-calendar"></span>  Calendario
  </p>
  <div class="col-md-12" style="padding:0px;">
    <br>
      <table class="table table-bordered table-style table-responsive">
        <tr>
          <th colspan="2"><a href="?ym=<?php echo $prev; ?>"><span class="glyphicon glyphicon-chevron-left"></span></a></th>
          <th colspan="3"> Jan - 2017</th>
          <th colspan="2"><a href="?ym=<?php echo $next; ?>"><span class="glyphicon glyphicon-chevron-right"></span></a></th>
        </tr>
        <tr>
          <th>S</th>
          <th>M</th>
          <th>T</th>
          <th>W</th>
          <th>T</th>
          <th>F</th>
          <th>S</th>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
        </tr>
        <tr>
          <td>8</td>
          <td>9</td>
          <td>10</td>
          <td>11</td>
          <td class="today">12</td>
          <td>13</td>
          <td>14</td>
        </tr>
        <tr>
          <td>15</td>
          <td>16</td>
          <td>17</td>
          <td>18</td>
          <td>19</td>
          <td>20</td>
          <td>21</td>
        </tr>
         <tr>
          <td>22</td>
          <td>23</td>
          <td>24</td>
          <td>25</td>
          <td>26</td>
          <td>27</td>
          <td>28</td>
        </tr>
          <tr>
          <td>29</td>
          <td>30</td>
          <td>31</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        
     
      </table>

  </div>
</div>

<section class="blog-article">
  <div class="container">
      <div class="blog-title">
    <div class="row">
      <div class="col-md-12 pull-rigth">
        <p>Fechas de Importancia <span class="color">.</span></p>
      </div>
    </div>
  </div>
       <div class="row">
    <div class="col-md-6 col-sm-6 col">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-6 col-sm-6 col-txt">
            <time class="ac">2/6/2018</time>
            <p>Se revisan avances en las ordenes</p>
            <a href="#" class="gmRed">Read more - ></a>
          </div>
          <div class="col-md-6 col-sm-6 col-img">
            <img src="http://www.starsia.patrikkopco.eu/assets/images//first.jpg" alt="" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-6 col-sm-6 col-txt">
            <time class="ac">15/6/2018</time>
            <p>Se realizan avances en las otras especies</p>
            <a href="#" class="gmRed">Read more - ></a>
          </div>
          <div class="col-md-6 col-sm-6 col-img">
            <img src="http://www.starsia.patrikkopco.eu/assets/images//second.jpg" alt="" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-6 col-sm-6 col-txt">
            <time class="ac">25/6/2018</time>
            <p>Actalizacion de informacion en especies Artopodas</p>
            <a href="#" class="gmRed">Read more - ></a>
          </div>
          <div class="col-md-6 col-sm-6 col-img">
            <img src="http://www.starsia.patrikkopco.eu/assets/images//third.jpg" alt="" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-6 col-sm-6 col-txt">
            <time class="ac">4/3/2018</time>
            <p>Gira a las instalaciones X</p>
            <a href="#" class="gmRed">Read more - ></a>
          </div>
          <div class="col-md-6 col-sm-6 col-img">
            <img src="http://www.starsia.patrikkopco.eu/assets/images//fourth.jpg" alt="" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  
</section>


<app-footer></app-footer>





